  <footer id="footer">
      <marquee class="GeneratedMarquee" direction="left" scrollamount="4" behavior="scroll">Welcome To Dev Chandel, Web Development & Design, Training Services, Android Application Development, Software Development, Designing Services, Digital Marketing Services, Bookkeeping Services, Consultancy Services, Training Services, IT Support, Digital Printing Services, Much More Services Provided By Dev Chandel.</marquee>
     
       <p> <center> <div class='text-center small'>
          Copyright &#169; <script type='text/javascript'>var creditsyear = new Date();document.write(creditsyear.getFullYear());</script> 
<a expr:href='data:blog.homepageUrl'><data:blog.title/></a>  All Right Reserved.  Designed By <a href='https://devchandel-goojdex.blogspot.com/' rel='dofollow'target="_blank"><font color='red'>  Dev Chandel</font></a>   </div> </center>
      </p>  
    </footer>
</body>
</html>
